<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dictionary App</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main>
        <div class="search-box">
            <h1>Dictionary App</h1>
            <div class="box-input">
                <div class="border">
                    <input type="text" name="text" class="input" placeholder="Enter a word..." autocomplete="off">
                </div>
            </div>
            <div class="btn">
                <button id="Search-btn">
                    <span class="text">Search</span>
                </button>
            </div>
            <div class="loader" id="search-loader">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
                <div class="bar4"></div>
                <div class="bar5"></div>
                <div class="bar6"></div>
                <div class="bar7"></div>
                <div class="bar8"></div>
                <div class="bar9"></div>
                <div class="bar10"></div>
                <div class="bar11"></div>
                <div class="bar12"></div>
            </div>
            <div class="card">
                <ul class="card-content"></ul>
            </div>
            <div class="message-card">
                <h1 class="msg"></h1>
            </div>
        </div>
    </main>
    <script src="index.js"></script>
</body>

</html>